.news {
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  margin: 0;
}

.newsWrapper {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.postWrapper {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 25px;
  margin-left: 75px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.postNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 75px;
  margin-right: 20px;
  margin-bottom: 13px;
}

.postNav img:hover {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.digitalItem {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.25em;
  color: #657786;
}
