.wrp {
  display: grid;
  height: 70px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.profileNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-self: center;
  align-self: flex-end;
}

.profileItems {
  font-weight: bold;
  font-size: 0.9em;
  color: #657786;
  width: 152px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
}

.profileNavActive {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 0.9em;
  color: #1da1f2;
  border-bottom: 3px solid #1da1f2;
  width: 152px;
  display: flex;
  justify-content: center;
}

.profileNav li a:hover {
  cursor: pointer;
  color: #1da1f2;
}
