.groupsBtn {
  width: 78px;
  height: 28px;
  border: 1px solid #1da1f2;
  border-radius: 24.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: #1da1f2;
	cursor: pointer;
	align-self: center;
  justify-self: center;
}

.groupsBtnActive {
  background-color: #1da1f2;
  color: #ffffff;
  width: 78px;
  height: 28px;
  border-radius: 24.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
