.titleActive{
	font-size: 1.3em;
	line-height: 22px;
	color: #14171A;
	font-weight: bold;
	color: rgba(29, 161, 242, 1);
}

.iconActive {
	margin-right: 20px;
	margin-left: 11px;
	height: auto;
	width: 1.4em;
	filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.iconItem {
	margin-right: 20px;
	margin-left: 11px;
	height: auto;
	width: 1.4em;
}

.titleItem {
	font-size: 1.3em;
	line-height: 22px;
	color: #14171A;
	font-weight: bold;
	align-self: center;
}